<div class="home-section">
    <div class="container">
        <div class="hs1">
            <div class="row">
                <div class="col-6">
                    <h1>IDEAS?</h1>
                    <h2>This is just a place holder.</h2>
                    <p>You can remove any link to our website from this website template, you're free to use this
                        website template without linking back to us.ē</p>
                    <div>
                        <button type="button" class="btn btn-outline-info but1">TRY IT NOW!</button>
                    </div>
                </div>
                <div class="col-6">
                    <img src="../../assets/images/image1.png" alt="">
                </div>
            </div>
        </div>
        <div class="hs2">
            <div class="row">
                <div class="col-6">
                    <h2>Design With Simplicity.</h2>
                    <p>You can replace all this text with your own text. Want an easier solution for a Free Website?
                    </p>
                    <p>Head straight to Wix and immediately start customizing your website!</p>
                    <p>Wix is an online website builder with a simple drag & drop interface, meaning you do the work
                        online and instantly publish to the web.</p>
                </div>
                <div class="col-6" style="margin-top: 71px;">
                    <p>You can replace all this text with your own text. Want an easier solution for a Free Website?</p>
                    <p>Head straight to Wix and immediately start customizing your website!</p>
                    <p>Wix is an online website builder with a simple drag & drop interface, meaning you do the work
                        online and instantly publish to the web.</p>
                </div>
            </div>
        </div>
    </div>


</div>